$primary-text-color: #000;
$secondary-text-color: #0a2640;
$third-text-color: #777;
$content-width: 1200px;
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Manrope', sans-serif;

//adaptive
$breakpoint_tablet: 768px;
$breakpoint_mobile: 475px;
