.intro-block {
  width: 100%;
  @extend %flex-center;
  flex-direction: column;
  &__header {
    @extend %flex-center;
    flex-direction: column;
    margin-bottom: 67px;
  }
  &__header-text {
    font-size: 20px;
    line-height: 32px;
    color: $secondary-text-color;
  }
  &__main-header-text {
    font-weight: 400;
    color: $secondary-text-color;
    font-size: 64px;
    line-height: 84px;
  }
  &__left-part {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  &__main-part {
    @extend %flex-center;
    flex-direction: row;
    gap: 100px;
  }
  &__main-text {
    font-family: $secondary-font;
    font-size: 48px;
    line-height: 72px;
  }
  &__divider {
    margin: 72px 0px 96px 0px;
    width: 100%;
    height: 1px;
    background-color: $secondary-text-color;
  }
}

.author-block {
  @extend %flex-center;
  gap: 12px;
  margin-top: 20px;
}
.date-and-category {
  @extend %flex-center;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 12px;
  &__category {
    font-weight: 700;
    line-height: 28px;
    color: $secondary-text-color;
  }
  &__date {
    line-height: 28px;
    color: $third-text-color;
  }
}
