.header {
  margin-bottom: 72px;
  &__content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 56px;
  }
}

.menu {
  gap: 40px;
  @extend %flex-center;
  &__item {
    font-weight: 600;
    line-height: 28px;
    color: $secondary-text-color;
  }
  &__button {
    @include button(128px, 40px, 24px, 24px);
    @extend %flex-center;
    background-color: transparent;
    font-weight: 700;
  }
}
