@include tablet {
  .advertising-blck {
    &__form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }
    &__text {
      line-height: 60px;
      font-size: 40px;
    }
  }
}
@include mobile {
  .advertising-blck {
    &__input {
      width: 300px;
      padding-right: 95px;
    }
    &__text {
      line-height: 50px;
      font-size: 35px;
    }
  }

  .advertising-blck__input::placeholder {
    font-size: 18px;
  }
}
