//

@include tablet {
  .advertising-blck__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}
@include mobile {
  .advertising-blck__input {
    width: 300px;
    padding-right: 95px;
  }
  .advertising-blck__input::placeholder {
    font-size: 18px;
  }
}
